In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [17]:
data=pd.read_csv("house.csv")

In [18]:
from sklearn import preprocessing
data_normalize=preprocessing.normalize(data)
normalized_data=pd.DataFrame(data_normalize)
normalized_data=normalized_data.rename(columns={1:'bedrooms',2:'sqft',3:'price'})
normalized_data=normalized_data.drop(columns=[0])
normalized_data.head(5)

   bedrooms      sqft     price
0  0.000002  0.003038  0.999995
1  0.000004  0.002291  0.999997
2  0.000004  0.001841  0.999998
3  0.000004  0.002221  0.999998
4  0.000004  0.002332  0.999997

In [19]:
x=pd.DataFrame(normalized_data)
x

             bedrooms      sqft     price
0        2.217285e-06  0.003038  0.999995
1        4.449377e-06  0.002291  0.999997
2        4.237281e-06  0.001841  0.999998
3        4.195794e-06  0.002221  0.999998
4        4.459297e-06  0.002332  0.999997
...               ...       ...       ...
9999995  2.990707e-07  0.000188  0.078656
9999996  1.996872e-07  0.000126  0.055912
9999997  2.992946e-07  0.000149  0.068538
9999998  2.991598e-07  0.000169  0.074790
9999999  1.995865e-07  0.000138  0.064267

[10000000 rows x 3 columns]

In [20]:
df=np.ones(10000000)
df2=df.T
df2=df2.reshape((10000000,1))
df2.shape

(10000000, 1)

In [21]:
df2=pd.DataFrame(df2)

In [22]:
x.insert(0, "Ones",df2, True)

In [23]:
x

         Ones      bedrooms      sqft     price
0         1.0  2.217285e-06  0.003038  0.999995
1         1.0  4.449377e-06  0.002291  0.999997
2         1.0  4.237281e-06  0.001841  0.999998
3         1.0  4.195794e-06  0.002221  0.999998
4         1.0  4.459297e-06  0.002332  0.999997
...       ...           ...       ...       ...
9999995   1.0  2.990707e-07  0.000188  0.078656
9999996   1.0  1.996872e-07  0.000126  0.055912
9999997   1.0  2.992946e-07  0.000149  0.068538
9999998   1.0  2.991598e-07  0.000169  0.074790
9999999   1.0  1.995865e-07  0.000138  0.064267

[10000000 rows x 4 columns]

In [24]:
def SGD(x,learning_rate,n_iter,k,divideby):
    
    w=np.zeros(shape=(1,x.shape[1]-1))
    b=0
    
    cur_iter=1
    while(cur_iter<=n_iter):
        
        #Lets create a small training data set of size k
        temp=x.sample(k)
        
        # We create the X and y sets from above
        y=np.array(temp['price'])
        X=np.array(temp.drop('price',axis=1))
        
        # Lets keep the initial gradients as 0
        w_gradient=np.zeros(shape=(1,x.shape[1]-1))
        b_gradient=0
        
        for i in range(k):
            #calculating gradient for point in our K sized dataset
            prediction=np.dot(w,X[i])+b
            w_gradient=w_gradient+(-2)*X[i]*(y[i]-(prediction))
            b_gradient=b_gradient+(-2)*(y[i]-(prediction))
            
        #updating the weights and bias with above calculated gradients
        w=w-learning_rate*(w_gradient/k)
        b=b-learning_rate*(b_gradient/k)
    
        cur_iter=cur_iter+1
        
        #Dividing the learning rate by th specified value
        learning_rate=learning_rate/divideby
    return w,b    


    temp=0
    for i in range(X[0].shape[0]):
        predicted_value=(m[0]+m[1]*X[0][i]+m[2]*X[1][i])
        actual_value=y[i]
        temp=temp+((prediction-y[i])**2)
        
    return (np.sqrt(temp/X[0].shape[0]))

In [ ]:
w,b= SGD(x,0.00000001,10000,10,2)

In [14]:
w

array([[6.23821451e-09, 7.13463325e-15, 4.34864196e-12]])

In [15]:
b

array([6.23821451e-09])